.map-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
    height: 100%
  }
  
  .map-frame {
    border: 2px solid rgb(230, 28, 28);
    height: 100%;
  } 


  #cbMap {
    height: 100%;
  }