<div class="m-2.5">
  <!--  Start of Header   -->
  <div class="grid grid-cols-2">
    <div>
      Rachel Boat Tracker
    </div>
    <div class="flex place-content-end">
      Help
    </div>
  </div>

<!--  Main content of page-->
  <div class="grid grid-cols-2 mt-5">
    <div>
      Ship Table Data
    </div>
<!--    Start of control buttons    -->
    <div>
      <div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Start
        </button>
      </div>
      <div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Stop
        </button>
      </div>

    </div>

  </div>


</div>
