<div class="m-2.5">
  <!--  Start of Header   -->
  <div class="grid grid-cols-2">
    <div class="text-2xl text-purple-600">
      Rachel Boat Tracker
    </div>
    <div class="flex place-content-end">
      Help
    </div>
  </div>

  <div class="flex flex-row gap-5 items-center">
    <div class="w-3/4">
<!--      <div class="flex place-content-center">-->
<!--        <span>Enter the URL</span>-->
<!--      </div>-->
      <mat-form-field appearance="fill" subscriptSizing="dynamic" class="w-full">
        <mat-label>Enter the Websocket URL: </mat-label>
        <input matInput placeholder="wss.urlgoeshere" value="ws://localhost:5678">
      </mat-form-field>
    </div>

    <div>
<!--      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="subscribeToWebSocket()">-->
      <button mat-stroked-button (click)="subscribeToWebSocket()">
        Start
      </button>
    </div>
    <div>
      <button mat-stroked-button (click)="stopWebsocket()">
        Stop
      </button>
    </div>
    <div>
      <button mat-stroked-button (click)="clearData()">
        Clear
      </button>
    </div>

  </div>

<!--  <button mat-raised-button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">-->
<!--    HELP-->
<!--  </button>-->

<!--  Main content of page-->
  <div class="flex flex-row mt-5 h-[500px]">
<!--    Left side of the page-->
    <div class="overflow-y-auto w-1/2" >
<!--      Left side header  -->
      <div class="flex place-content-center text-xl">
        Position Report Table Data
      </div>
<!--      Position Report Table Data-->
      <table class="table-auto w-full">
        <tr>
          <th>MMSI</th>
          <th>Time</th>
          <th >Lat</th>
          <th >Long</th>
          <th >Heading</th>
          <th >Ship Name</th>
        </tr>
        <tr *ngFor="let positionReport of payloadArray.reverse()">
          <td>{{ positionReport.MMSI }}</td>
          <td>{{ positionReport.BaseDateTime }}</td>
          <td>{{ positionReport.LAT }}</td>
          <td>{{ positionReport.LON }}</td>
          <td>{{ positionReport.Heading }}</td>
          <td>{{ positionReport.VesselName }}</td>

        </tr>
      </table>

    </div>

<!--    Right side of the page    -->
    <div class="w-1/2 flex-col">
<!--      <span class="flex place-content-center">Map</span>-->
      <div class="flex place-content-center">
        MAP
      </div>
      <div class="h-full w-full">
        FAKE MAP
      </div>
    </div>


  </div>


</div>
